body{
	background-color: powderblue;
}

.topnav {
	background-color: black;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 18px;
}

.topnav a:hover {
	background-color: gray;
	color: white;
}

.topnav a.active {
	background-color: silver;
	color: white;
}

.content {
	align-items: left;
	justify-content: left;
	clear: left;
	margin: 0 auto;
	display: inline;
}

.code {
	font-family: Consolas,"courier new";
	color: crimson;
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 95%;
}

.container {
	text-align: center;
}

.container pre {
	display: inline-block;
	text-align: left;
}

#wordwrap {
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre {
	overflow-x: auto;
}
